html{
    height: 100%;
    width: 100%;
    position: fixed;
}

h2{
    text-align: center;
    margin: 0;
    top: 2px;
}

body{
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: content-box;
}

/* Remove margins and padding from the list */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the list items */
#myUL li {
    cursor: auto;
    position: relative;
    padding: 10px 6px 12px 33px;
    background: #FFFF00;
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
#myUL li:hover {
    background: #CCCC00;
}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the input */
#myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 90%;
    padding: 5px;
    float: left;
    font-size: 16px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 14px 12px 14px;
}

.close:hover {
    background-color: #f44336;
    color: #F9FAF5;
}

/* Style the header */
.header {
    background-color: #FFFF00;
    padding: 0 5px;
    color: black;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

.addBtn {
    padding: 6px;
    margin: 3px;
    width: 25%;
    background: #d9d9d9;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.addBtn:hover {
    background-color: #bbb;
}

#mainContainer{
    position: fixed;
    display: inline-block;
    z-index: 9;
    left: 70%;
    top: 30%;
    width: 200px;
    margin: 0;
    background-color: #FFFF00;
    box-shadow: 2px 4px 4px black;
}

#headerMover {
    padding: 10px;
    cursor: move;
}

#closePostItButton{
    color: #F9FAF5;
    padding: 0;
    margin: 0;
    width: 10%;
    height: 10%;
    background: #f44336;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;

}

