

.button {
    position: absolute;
    background-color: #0b245b;
    color: #F9FAF5;
    border: solid #0b245b;
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
}

.button:hover{
    color: #0B245B;
    background-color: #F9FAF5;;
    border: solid #0B245B;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button3 {
    left: 300px;
    top: 200px;
}


#tipBubble {
position: relative;
height: 100px;
width: 100px;
background-color: black;
}

