
/* Body Adjustment */
body{
    margin-bottom: 335px;
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-repeat: no-repeat;
    background-size: auto;
}

/* HTML Adjustment */

html {
height: 100%;
}


/* Tag`s */

#logoContainer{
    position: absolute;
    width: 50%;
    left: 270px;
    top: 20px;
    margin: 30px;
    text-align: center;
}

#logoPicture{
    width: 500px;
    height: 150px;
}

#videoframe {
position: absolute;
left: 300px;
top: 200px;
}