@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


.wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    max-width: 960px;
    max-height: 1000px;

    padding-right: 10px;
    padding-left: 10px;


}

#buttonholder{
    left: calc(50% - 200px);
    position: absolute;
    top: 900px;
    display: block;
    width: 500px;
}



    .button{
        width: 200px;
        margin: 1rem;
        padding: 20px 32px;
        text-align: center;
        display: inline-block;
        border: none;
        border-radius: 4px;
        background-color: #0B245B;
        color: #F9FAF5;
        transition-duration: .4s;
        overflow: hidden;
        cursor: pointer;
    }
    
    .button:hover{
        color: #0B245B;
        background-color: #F9FAF5;;
        border: solid #0B245B;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 100px;
        padding-left: 100px;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }




html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
        margin: 0;
        padding: 0;
        height: 1500px;
        width: 1500px;
        border-radius: auto;
    
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-size: 1500px 1500px;
}


h1{
    color: rgb(99, 123, 175);
    z-index: 10;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}

img{
  max-width: 30%;
  height: auto;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  display: block;
  
 }


h6{
    color: rgb(166, 189, 240);
    z-index: 10;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
    

}
#Policy{
    position: relative;
    top: 740px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;

}
h5{
    color: rgb(99, 123, 175);
    z-index: 10;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    
}
#Policy2{
    position: relative;
    top: 740px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;

}

#name{
    top:200px;
    left:300px;
}


.information{
    margin: 1px;
    height: 30px;
    width: 300px;
    position: relative;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#registrering{
    width: 500px;
    height: 70px;
    position: relative;
    top: 30%;
    margin:0 auto;
    width: 200px;

}

#name{
position: relative;
top: 30px;
left:0px;
right: 0px;
margin: 0 auto;
text-align: center;
border: 2px rgb(11,36,91);
border-radius: 6px;
width: 200px;
height:20px;


}

#userName{
position: relative;
top: 70px;
left:0px;
right: 0px;
margin: 0 auto;
text-align: center;
border: 2px rgb(11,36,91);
border-radius: 6px;
width: 200px;
height:20px;

}
#email{
    position: relative;
    top: 120px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}

#dateOfBirth{
    position: relative;
    top: 160px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
    
}
#password{
    position: relative;
    top: 200px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}


#repeatPassword{
    position: relative;
    top: 240px;
    left:0px;
    right:0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}

#genderContainer{
    position: relative;
    top: 235px;
    left:50px;
    right:50px;
    width: 400px;
    height: 400px;
}

#female{
    height: 25px;
    width: 25px;
}
#other{
    height: 25px;
    width: 25px;
}
#male{
    height: 25px;
    width: 25px;

}
.speechBubble{
position: relative;
background: #47e6ee; 
 border-radius: .4em; 
 height: 7px;
 width: 150px;
 border: 5px solid transparent;
 text-align: center;
 font-size: 10px;

}


  
  
#speechBubble{
    opacity: 0.7;
    transition: .5s ease-in;
}
#speechBubble{
    left: calc(50% - 300px);
    position: relative;
    top: 35px;
    display: block;
    width: 150px;
}
.speechBubble:after { 
content: ''; 
position: absolute;
right: 0;
top: 50%; 
width: 0; 
height: 0; 
border: 12px solid transparent; 
border-left-color:#47e6ee; 
border-right:0; 
margin-top: -12px; 
margin-right: -12px; 
}

#speechBubble1{
visibility: hidden;
top: 241px;
}


#speechBubble2{
top: 286px;
visibility: hidden;
}

#speechBubble3{
top: 340px; 
visibility: hidden;
}

#speechBubble4{
top: 384px;     
visibility: hidden;
}

#speechBubble5{
top: 430px;  
visibility: hidden;      
}

#speechBubble6{
top: 477px;
visibility: hidden;
}







