@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');



      #button1{
        position: relative;
        top: 500px;

    }

    #button2{
        top: 500px;
        position: relative;
      }

    .button{
        position: relative;
        left: 37%;
        width: 200px;
        margin: 1rem;
        padding: 20px 32px;
        text-align: center;
        display: inline-block;
        border: none;
        border-radius: 4px;
        background-color: #0B245B;
        color: #F9FAF5;
        transition-duration: .4s;
        overflow: hidden;
        cursor: pointer;
    }
    
    .button:hover{
        color: #0B245B;
        background-color: #F9FAF5;;
        border: solid #0B245B;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -30px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }




html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-repeat: no-repeat;
    background-size: auto;
}


h1{
    color: rgb(99, 123, 175);
    z-index: 10;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}

img{
  max-width: 30%;
  height: auto;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  display: block;
  
 }


h6{
    color: rgb(166, 189, 240);
    z-index: 10;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
    

}
#Policy{
    position: relative;
    top: 740px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;

}
h5{
    color: rgb(99, 123, 175);
    z-index: 10;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    
}
#Policy2{
    position: relative;
    top: 740px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;

}

#name{
    top:200px;
    left:300px;
}


.information{
    margin: 1px;
    height: 30px;
    width: 300px;
    position: relative;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#registrering{
    width: 500px;
    height: 70px;
    position: relative;
    top: 30%;
    margin:0 auto;
    width: 200px;

}

#name{
position: relative;
top: 30px;
left:0px;
right: 0px;
margin: 0 auto;
text-align: center;
border: 2px rgb(11,36,91);
border-radius: 6px;
width: 200px;
height:20px;


}

#userName{
position: relative;
top: 70px;
left:0px;
right: 0px;
margin: 0 auto;
text-align: center;
border: 2px rgb(11,36,91);
border-radius: 6px;
width: 200px;
height:20px;

}
#email{
    position: relative;
    top: 120px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}

#dateOfBirth{
    position: relative;
    top: 160px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
    
}
#password{
    position: relative;
    top: 200px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}


#repeatPassword{
    position: relative;
    top: 240px;
    left:0px;
    right:0px;
    margin: 0 auto;
    text-align: center;
    border: 2px rgb(11,36,91);
    border-radius: 6px;
    width: 200px;
    height:20px;
}

#genderContainer{
    position: relative;
    top: 300px;
    left:50px;
    right:50px;
    width: 100px;
    height: 200px;
}







