/*
body {
    background-color: #F9FAF5;
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-size: 1000px 1600px;
    overflow: scroll;
    height: 1600px;
}


html {
    height: 100%;
    margin: 0;
}




/* fonts */

h1 h2 h3 h4 h5 h6 p a textarea span link input div{
    font-family: 'Arial Black',Helvetica, sans-serif;
}

a{
    text-decoration: none;
	color: white;
}


/* sidebar */

.tabButton { 
	display: block;
	text-decoration: none;
	padding: 10px;
	width: 100%;
	transition: all 0.2s ease;
	color: cornflowerblue;
}

.tabButton:hover {
	background-color: mintcream;
	padding-left: 50px;
}

.tabDivider {
	display: block;
	width: 100%;
	height: 3px;
	padding-left: 5px;
	color: cornflowerblue;
	background-color: lightskyblue;
}

#sideBar {
	z-index: 201;
	position: fixed;
	width: 200px;
	height: 100%;
	border-left: solid white 5px;
	color: cornflowerblue;
	background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8);
	right: -200px;
	transition: all 0.3s ease;
}

#sideTab {
	z-index: 0;
	position: absolute;
	width: 40px;
	height: 100px;
	background-color: rgba(255,255,255,0.7);
	top: 50%;
	transform: translateY(-50%);
	left: -45px;
	border-radius: 0;
	transition: all 0.3s ease-in-out;
}

#sideTab:hover {
    background-color: rgb(255,255,255);
    box-shadow: yellow;
}

#sideBar:focus-within {
	right: 0;
}

#sideBar:hover {
    right: 0;
}

#sideBar:focus {
    right: 0;
}

#sideTab:focus {
	outline: none;
}

#newsFeed {
    position: absolute;
    top: 250px;
    left: 5px;
    width: 190px;
    font-size: 15px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-color: rgb(51, 51, 204);
    color: rgb(0, 0, 0);
    background-color: rgb(77, 158, 179);
    outline: none;
    resize: none;
}

#personalFeed {
    position: absolute;
    top: 450px;
    left: 5px;
    width: 190px;
    font-size: 15px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-color: rgb(51, 51, 204);
    color: rgb(0, 0, 0);
    background-color: rgb(77, 158, 179);
    outline: none;
    resize: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(85, 147, 151, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

::placeholder {
    color: white;
    opacity: 0.5;
}