#header{
    height:50px;
    width:100%;
    background-color: purple;
    position: fixed;
    margin: auto;
    z-index: 10;
}

#tabline{
background-color: black;
position: fixed;
height: 2px;
top: 40px;
width: 100%;
margin: 0;
left: 0;
}

.button {
    line-height: 50px;
    border-color: black;
    border: 1px;
    width: 200px;
    height: 40px;
}
/*
.button:hover {
    background-color: #0b245b;
}
*/

.button-link {
	font-family: 'Roboto Slab', serif;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 70px;
	padding-right: 40px;
}

.button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

#tab-button1 {
    margin: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    background-image: url(images/TabBurgunder.png);
}
#tab-button2 {
    margin: auto;
    left: 150px;
    top: 0px;
    position: fixed;
    background-image: url(images/TabWhite.png);
}
#tab-button3 {
    margin: auto;
    left: 300px;
    top: 0px;
    position: fixed;
    background-image: url(images/TabBlue.png);
}
#tab-button4 {
    margin: auto;
    left: 450px;
    top: 0px;
    position: fixed;
    background-image: url(images/TabBurgunder.png);
}