/*general*/

html, body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
}

main {
    position: relative;
    height: calc(100% - 55px);
    margin: 0 2em;
    top: 55px;
}

/* active flows */

#welcomeMessage {
    font-size: 5em;
    color: white;
    white-space: nowrap;
}

#activeFlowsContainer {
    color: white;
}

.activeListObject {
    /*list-style: none;*/
    padding-left: 1.5em;
    list-style: none;
    background-color: green;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: solid white;
}

/*tab container*/

#tabContainer{
    position: fixed;
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: 100%;
    top: 0px;
    border-bottom: solid slategray 5px;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.tab {
    /*top: 30px;*/
    height: 40px;
    Flex: 0;
    flex-basis: 120px;
    z-index: 0;
}

.tabImg{
    height: inherit;
    width: 120%;
    filter: drop-shadow(-10px -3px 15px black);
}

#add {
    padding-left: 30px;
    height: 40px;
    order: 1;
}

#addImg {
    height: inherit;
    transition: all 0.1s ease-in-out;
}

#add:hover #addImg {
    filter: drop-shadow(0px 0px 8px white);
}

#mainTab {
    order: 0;
    z-index: 0;
}

/*button*/

.button {
    line-height: 50px;
    border-color: black;
    border: 1px;
    width: 200px;
    height: 40px;
}
/*
.button:hover {
    background-color: #0b245b;
}


.button-link {
	font-family: 'Roboto Slab', serif;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 70px;
    padding-right: 40px;
    height: 100%;
    width: 100%;
}

.button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

#tab-button1 {
    margin: 0;
    left: -20px;
    top: 0;
    position: fixed;
    background-image: url(images/TabBurgunder.png);
    background-size: 100%;
}
#tab-button2 {
    margin: auto;
    left: 130px;
    top: 0;
    position: fixed;
    background-image: url(images/TabWhite.png);
    background-size: 100%;
}
#tab-button3 {
    margin: auto;
    left: 280px;
    top: 0;
    position: fixed;
    background-image: url(images/TabBlue.png);
    background-size: 100%;
}
#tab-button4 {
    margin: auto;
    left: 430px;
    top: 0;
    position: fixed;
    background-image: url(images/TabBurgunder.png);
    background-size: 100%;
}
*/
