/*
body {
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-size: 1000px 1600px;
    overflow: scroll;
    height: 1600px;
}


html {
    height: 100%;
    margin: 0;
}
*/

#logoContainer {
    position: absolute;
    width: 50%;
    left: 250px;
    top: 20px;
    margin: 30px;
    /*background-color: #F9FAF5;*/
    text-align: center;
}

#logoPicture {
    width: 500px;
}

.button {
    position: absolute;
    background-color: #0b245b;
    color: #F9FAF5;
    border: solid #0b245b;
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
}

.button:hover{
    color: #0B245B;
    background-color: #F9FAF5;;
    border: solid #0B245B;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button1 {
    left: 50px;
    top: 200px;
}

#button2 {
    left: 170px;
    top: 200px;
}


#timeTable {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 250px;
    left: 2%;
    /*  border: solid;
      border-color: red;*/
    display: grid;
    overflow: hidden;
    white-space: nowrap;
}

.timeTable {
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
}

.names {
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
    padding-right: 40px;
    color: white;
}

#title {
    top: 0px;
    left: 0px;
    position: relative;
    font-family: 'Roboto Slab', serif;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 40px;
    color: white;
}

.dag {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 40px;
    color: white;
}

#dag1 {
    left: 155px;
    top: 0px;
    position: absolute;
}

#dag2 {
    left: 285px;
    top: 0px;
    position: absolute;
}

#dag3 {
    left: 435px;
    top: 0px;
    position: absolute;
}

#dag4 {
    left: 580px;
    top: 0px;
    position: absolute;
}

#dag5 {
    left: 720px;
    top: 0px;
    position: absolute;
}

#dag6 {
    left: 855px;
    top: 0px;
    position: absolute;
}

#dag7 {
    left: 1000px;
    top: 0px;
    position: absolute;
}

#name1 {
    top: -25px;
    left: 0px;
    position: relative;
}

#name2 {
    top: -20px;
    left: 0px;
    position: relative;
}

#name3 {
    top: -15px;
    left: 0px;
    position: relative;
}

#name4 {
    top: -10px;
    left: 0px;
    position: relative;
}

#name5 {
    top: -5px;
    left: 0px;
    position: relative;
}

.timebuble {
    background-color: rgba(255, 255, 255, .20);
    width: 250px;
    height: 15px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    font-size: 11px;
}

.timebubleBurgundy {
    background-color: rgba(255, 255, 255, .40);
    width: 125px;
    height: 15px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    font-size: 11px;
}

#timeBuble1 {
    top: 50px;
    left: 140px;
    position: absolute;
}

#timeBuble2 {
    top: 122px;
    left: 140px;
    position: absolute;
}

#timeBuble3 {
    top: 192px;
    left: 280px;
    position: absolute;
}

#timeBuble4 {
    top: 264px;
    left: 280px;
    position: absolute;
}

#timeBuble5 {
    top: 334px;
    left: 280px;
    position: absolute;
}

#timeBuble6 {
    top: 50px;
    left: 405px;
    position: absolute;
}

#timeBuble7 {
    top: 122px;
    left: 405px;
    position: absolute;
}

#timeBuble8 {
    top: 192px;
    left: 140px;
    position: absolute;
}

#timeBuble9 {
    top: 264px;
    left: 140px;
    position: absolute;
}

#timeBuble10 {
    top: 334px;
    left: 140px;
    position: absolute;
}

#timeBuble11 {
    top: 50px;
    left: 560px;
    position: absolute;
}

#timeBuble12 {
    top: 122px;
    left: 560px;
    position: absolute;
}

#timeBuble13 {
    top: 192px;
    left: 560px;
    position: absolute;
}

#timeBuble14 {
    top: 192px;
    left: 690px;
    position: absolute;
}

#timeBuble15 {
    top: 264px;
    left: 560px;
    position: absolute;
}

#timeBuble16 {
    top: 334px;
    left: 560px;
    position: absolute;
}

#timeBuble17 {
    top: 334px;
    left: 690px;
    position: absolute;
}



#container {
    position: relative;
    height: 750px;
    width: 1200px;
    top: 100px;
    left: 50px;
}

.pluss {
    position: absolute;
    top: 8px;
    height: 20px;
    width: 20px;
    z-index: 100;
}

.pluss1 {
    left: 275px;
}

.pluss2 {
    left: 525px;
}

.pluss3 {
    left: 765px;
}

.pluss4 {
    left: 1015px;
}

.wrapperuper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 180px;
    top: 0;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px;
    grid-template-rows: 35px;
    grid-column-gap: 120px;
    grid-row-gap: 5px;
    z-index: 100;
}

.uper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 150px;
    top: 680px;
    height: auto;
    max-height: 600px;
    width: 205px;
    margin: 0 auto;
    grid-template-columns: 200px;
    grid-template-rows: 150px 150px 150px 150px;
    grid-column-gap: 40px;
    grid-row-gap: 5px;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
}

.wrapper::-webkit-scrollbar-track {
    background-color: rgba(85, 147, 151, 0.5);
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

.item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    border: black 0 solid;
    height: 150px;
    resize: none;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.item::-webkit-scrollbar {
    width: 5px;
}

.item::-webkit-scrollbar-track {
    background-color: rgba(85, 147, 151, 0.5);
}

.item::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

.itemText {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
    bottom: 0;
    height: 55%;
    width: 100%;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    border-radius: 4px;
    border: black 0 solid;
    resize: none;
    outline: none;
}

.itemTitle {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 30%;
    background: none;
    color: white;
    border: none;
    border-bottom: solid rgba(255,255,255,0.8);
    text-align: center;
    font-size: 2em;
    overflow-x: scroll;
}

.itemSearch {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    height: 15%;
    width: 100%;
    background: none;
    border: none;
    border-top: solid rgba(255,255,255,0.8);
    text-align: center;
}

.searchList {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    height: auto;
    max-height: 300px;
    list-style: circle;

}

.memberSearchElement {
    transition: 0.1s all ease-in-out;
}

.memberSearchElement:hover {
    background-color: rgba(255,255,2,0.5);
}

.toDoColumn {
    top: 50px;
}

.OngoingColumn {
    left: 400px;
    top: 50px;

}

.StuckColumn {
    left: 650px;
    top: 50px;

}

.FinishedColumn {
    left: 900px;
    top: 50px;
}

#newsFeed {
    position: absolute;
    top: 250px;
    left: 5px;
    width: 190px;
    font-size: 15px;
    font-family: times;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-color: rgb(51, 51, 204);
    color: rgb(0, 0, 0);
    background-color: rgb(77, 158, 179);
    outline: none;
    resize: none;
}

#personalFeed {
    position: absolute;
    top: 450px;
    left: 5px;
    width: 190px;
    font-size: 15px;
    font-family: times;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-color: rgb(51, 51, 204);
    color: rgb(0, 0, 0);
    background-color: rgb(77, 158, 179);
    outline: none;
    resize: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none;
}

::-webkit-scrollbar {
    width: 0;
}

::placeholder {
    color: black;
    opacity: 0.6;
}
