body{
    /*background-color: #F9FAF5;*/
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-size: 1000px 1600px;
    overflow: sroll;
    height: 1600px;
}



html {
height: 100%;
margin: 0;
}

#logoContainer{
    position: absolute;
    width: 50%;
    left: 250px;
    top: 20px;
    margin: 30px;
    /*background-color: #F9FAF5;*/
    text-align: center;
}

#logoPicture{
    width: 500px;
}


*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


#timeTable{
  width: 1200px;
  height: 320px;

  position: absolute;
  top: 200px;
  left: 2%;
/*  border: solid;
  border-color: red;*/
  display: grid;
}

.timeTable{
  background-color: rgba(255, 255, 255, .20);
  backdrop-filter: blur(5px);
}

.names{
  font-family: 'Roboto Slab', serif;
	padding-left: 20px;
    padding-right: 40px;
    color: white;
}

#title{
  top: 0px;
  left: 0px;
  position: relative;
  font-family: 'Roboto Slab', serif;
	padding-top: 7px;
	padding-left: 20px;
  padding-right: 40px;
  color: white;
}

.dag{
  font-family: 'Roboto Slab', serif;
	padding-bottom: 7px;
	padding-left: 20px;
    padding-right: 40px;
    color: white;
}

#dag1{
  left: 12%;
  top: 0px;
  position: absolute;
}

#dag2{
  left: 24%;
  top: 0px;
  position: absolute;
}

#dag3{
  left: 36%;
  top: 0px;
  position: absolute;
}

#dag4{
  left: 48%;
  top: 0px;
  position: absolute;
}

#dag5{
  left: 60%;
  top: 0px;
  position: absolute;
}
#dag6{
  left: 72%;
  top: 0px;
  position: absolute;
}
#dag7{
  left: 84%;
  top: 0px;
  position: absolute;
}

#name1{
  padding-top: 10px;
  top: 0px;
  left: 0px;
  position: relative;
}

#name2{
  top: 0px;
  left: 0px;
  position: relative;
}

#name3{
  top: 0px;
  left: 0px;
  position: relative;
}

#name4{
  top: 0px;
  left: 0px;
  position: relative;
}

#name5{
  top: 0px;
  left: 0px;
  position: relative;
}

.timebuble{
  background-color: #0b245b;
  width: 250px;
  height: 15px;
  border-radius: 50px 50px 50px 50px;
}

.timebubleBurgundy{
  background-color: #98063A;
  width: 125px;
  height: 15px;
  border-radius: 50px 50px 50px 50px;
}

#timeBuble1{
  top: -18px;
  left: 140px;
  position: relative;
}

#timeBuble2{
  top: -18px;
  left: 140px;
  position: relative;
}
#timeBuble3{
  top: -18px;
  left: 280px;
  position: relative;
}
#timeBuble4{
  top: -18px;
  left: 280px;
  position: relative;
}
#timeBuble5{
  top: -18px;
  left: 280px;
  position: relative;
}

#timeBuble6{
  top: -34px;
  left: 420px;
  position: relative;
}

#timeBuble7{
  top: -34px;
  left: 420px;
  position: relative;
}
#timeBuble8{
  top: -35px;
  left: 140px;
  position: relative;
}
#timeBuble9{
  top: -35px;
  left: 140px;
  position: relative;
}
#timeBuble10{
  top: -35px;
  left: 140px;
  position: relative;
}



.pluss {
position: absolute;
height: 20px;
width: 20px;
top: 630px;
z-index: 100;
}

#pluss1 {
left: 275px;
}

#pluss2 {
left: 525px;
}

#pluss3 {
left: 765px;
}

#pluss4 {
left: 1015px;
}

.wrapperuper{
position: absolute;
left: 180px;
top: 620px;
width: 90%;
margin: 0 auto;
display: grid;
grid-template-columns: 125px  125px  125px 125px 125px;
grid-template-rows: 35px;
grid-column-gap: 120px;
grid-row-gap: 5px;
z-index: 100;
}

.uper{
background-color: rgba(255, 255, 255, .20);
backdrop-filter: blur(5px);
text-align: center;
color: black;
padding: 10px;
border-radius: 4px;
resize: none;
outline: none;
}

.item{
background-color: rgba(255, 255, 255, .20);
backdrop-filter: blur(5px);
color: black;
padding: 10px;
border: 4px solid;
border-radius: 10px;
border-color: rgb(51, 51, 204);
}


.wrapper{
  display: grid;
position: absolute;
left: 150px;
top: 680px;
height: 100%;
width: 200px;
margin: 0 auto;
display: grid;
grid-template-columns: 200px;
grid-template-rows: 150px 150px 150px 150px;
grid-column-gap: 40px;
grid-row-gap: 5px;
  background-color: green;
}

.item{
background-color: rgba(255, 255, 255, .20);
backdrop-filter: blur(5px);
color: black;
padding: 10px;
border: 0px solid;
border-radius: 4px;
border-color: black;
resize: none;
outline: none;
}

#wrapper2{
  left: 400px;
  top: 680px;
  background-color: red;
}

#wrapper3{
  left: 650px;
  top: 680px;
  background-color: blue;
}

#wrapper4{
  left: 900px;
  top: 680px;
  background-color: yellow;
}

/*
#toDoBox {
position: absolute;
height: 400px;
width: 200px;
background-color: rgb(77, 158, 179);
border: 4px solid;
border-radius: 8px;
border-color: rgb(51, 51, 204);
text-align: center;
}

#toDo {
position: absolute;
height: 110px;
width: 180px;
top: 230px;
left: 18px;
font-size: 15px;
font-family: times;
border-radius: 8px;
color: rgb(0, 0, 0);
background-color: rgb(200, 200, 200);
text-align: center;
outline: none;
resize: none;
}

*/


#newsFeed {
position: absolute;
top: 250px;
left: 5px;
width: 190px;
font-size: 15px;
font-family: times;
border: 2px solid #ccc;
border-radius: 8px;
border-color: rgb(51, 51, 204);
color: rgb(0, 0, 0);
background-color: rgb(77, 158, 179);
outline: none;
resize: none;
}

#personalFeed {
position: absolute;
top: 450px;
left: 5px;
width: 190px;
font-size: 15px;
font-family: times;
border: 2px solid #ccc;
border-radius: 8px;
border-color: rgb(51, 51, 204);
color: rgb(0, 0, 0);
background-color: rgb(77, 158, 179);
outline: none;
resize: none;
}