html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-image: linear-gradient(to bottom, #0b245b, #005d81, #559397, #adc5b8, #f9faf5);
    background-size: cover;
}

footer{
    position: relative;
    margin: 0;

}

h6{
    position: relative;
    color: #0b245b;
    z-index: 10;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}

h5{
    position: relative;
    color: rgb(99, 123, 175);
    z-index: 10;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}


/*id's*/

#logoContainer{
    position: relative;
    width: 100%;
    left: 20px;
    top: 30px;
    margin: 0;
    text-align: center;
}


#logoPicture{
    position: relative;
    width: 700px;

}

#folderLogo{
    position: absolute;
    width: 100px;
    left: 5px;
    top: 30px;
}

#folderLogoBackground{
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #0B245B;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #f9faf5;
    margin: 20px;
    margin-top: 30px;
    left: 20px;
    cursor: pointer;
}

#footerText{
    position: relative;
    text-align: center;
}

#animationContainer{
    position: relative;
    width:500px;
    height: 200px;
    margin: 0;
    padding-top: 10px;
    top: 10%;
    left: calc(50% - 250px);
}

#Policy{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#Policy2{
    position: relative;
    left:0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}


/*classes*/

.frontPageButton{
    position: relative;
    left: calc(50% - 110px);
    bottom: 80%;
    width: 200px;
    margin: 1rem;
    padding: 20px 32px;
    text-align: center;
    display: inline-block;
    border: solid #0b245b;
    border-radius: 4px;
    background-color: #0B245B;
    color: #F9FAF5;
    transition-duration: .4s;
    overflow: hidden;
    cursor: pointer;
}

.frontPageButton:hover{
    color: #0B245B;
    background-color: #F9FAF5;;
    border: solid #0B245B;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.frontPageButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -30px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.frontPageButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}


/*animation*/

#people {
    position: relative;
    height: 100px;
    width: 360px;
    top: 15%;
    left: calc(50% - 180px);
    z-index: 50;
}

.bubble {
    z-index: 50;
    top: -10px;
}

#bubble1 {
    position: absolute;
    left: 120px;
    height: 50px;
    width: 50px;

    animation-name: bubblemove1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubblemove1 {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#bubble2 {
    position: absolute;
    left: 210px;
    height: 50px;
    width: 50px;

    animation-name: bubblemove2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes bubblemove2 {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bubble3 {
    position: absolute;
    left: 300px;
    height: 50px;
    width: 50px;
    animation-delay: 2s;
    opacity: 0;

    animation-name: bubblemove3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubblemove3 {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bubble4 {
    position: absolute;
    left: 390px;
    height: 50px;
    width: 50px;
    animation-delay: 3s;
    opacity: 0;

    animation-name: bubblemove4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubblemove4 {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#book {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 10;

    animation-name: bookmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bookmove {
    0% {
        top: 20px;
        right: 300px;
        opacity: 0;
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
        opacity: 1;
    }

    90% {
        opacity: 0.10;
    }

    91% {
        opacity: 0.09;
    }

    92% {
        opacity: 0.08;
    }

    93% {
        opacity: 0.07;
    }

    94% {
        opacity: 0.06;
    }

    95% {
        opacity: 0.05;
    }

    96% {
        opacity: 0.04;
    }

    97% {
        opacity: 0.03;
    }

    98% {
        opacity: 0.02;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        top: -10px;
        right: 400px;
        opacity: 0;
        transform: rotate(360deg);
    }
}

#brain {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 10;

    animation-name: brainmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
    opacity: 0;
}


@keyframes brainmove {
    0% {
        top: 0;
        right: 250px;
        opacity: 0;
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
        opacity: 1;
    }

    90% {
        opacity: 0.10;
    }

    91% {
        opacity: 0.09;
    }

    92% {
        opacity: 0.08;
    }

    93% {
        opacity: 0.07;
    }

    94% {
        opacity: 0.06;
    }

    95% {
        opacity: 0.05;
    }

    96% {
        opacity: 0.04;
    }

    97% {
        opacity: 0.03;
    }

    98% {
        opacity: 0.02;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        top: -80px;
        right: 120px;
        transform: rotate(360deg);
        opacity: 0;
    }
}

#work {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 10;
    opacity: 0;

    animation-name: workmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes workmove {
    0% {
        top: -50px;
        left: 270px;
        opacity: 0;
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
        opacity: 1;
    }

    90% {
        opacity: 0.10;
    }

    91% {
        opacity: 0.09;
    }

    92% {
        opacity: 0.08;
    }

    93% {
        opacity: 0.07;
    }

    94% {
        opacity: 0.06;
    }

    95% {
        opacity: 0.05;
    }

    96% {
        opacity: 0.04;
    }

    97% {
        opacity: 0.03;
    }

    98% {
        opacity: 0.02;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        top: -170px;
        left: 150px;
        transform: rotate(360deg);
        opacity: 0;
    }
}

#money {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 10;
    opacity: 0;

    animation-name: moneymove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes moneymove {
    0% {
        top: -25px;
        left: 350px;
        opacity: 0;
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
        opacity: 1;
    }

    90% {
        opacity: 0.10;
    }

    91% {
        opacity: 0.09;
    }

    92% {
        opacity: 0.08;
    }

    93% {
        opacity: 0.07;
    }

    94% {
        opacity: 0.06;
    }

    95% {
        opacity: 0.05;
    }

    96% {
        opacity: 0.04;
    }

    97% {
        opacity: 0.03;
    }

    98% {
        opacity: 0.02;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        top: 50px;
        left: 400px;
        transform: rotate(360deg);
        opacity: 0;
    }
}

.mac {
    position: absolute;
    height: 30px;
    width: 45px;
    top: 110px;
    background-color: rgb(144, 144, 144);
    border-radius: 25%;
    border-style: solid;
    border-width: 1px;
    z-index: 60;
}

#mac1 {
    left: 80px;
}

#mac2 {
    left: 175px;
}

#mac3 {
    left: 270px;
}

#mac4 {
    left: 365px;
}

.logo {
    position: absolute;
    height: 10px;
    width: 40px;
    top: 120px;
    z-index: 70;
}

#logo1 {
    left: 82px;
}

#logo2 {
    left: 177px;
}

#logo3 {
    left: 272px;
}

#logo4 {
    left: 367px;
}


